<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1>Home</h1>
    <ul>
      <li>
        <p>buy insurance</p>
      </li>
        <p>claim</p>
      </li>
      <li>
        <p>
          <%= link_to "log out", sign_out_path %>
        </p>
      </li>
    </ul>
  </div>
</div>
