<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1>Home</h1>
    <ul>
      <li>
        <p>buy insurance</p>
      </li>
        <p>claim</p>
      </li>
    </li>
<%#      <%= p>log out</p> #%>
    </li>
    </ul>
  </div>
</div>
